body{
    background-color: #fdf3c9;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #fff292;
    color: rgb(0, 0, 0);
    font-family: "Bai Jamjuree", sans-serif;
}